iframe {
	/* 调整框架的长和宽 */
	width: 100%;
	height: 670px;
}
p,button {
	/* 调整段落和按钮的字号 */
	font-size: 25px;
}
span {
	/* 加红文本 */
	color: red;
}
h1 {
	/* 调整主标题的字号 */
	font-size: 60px;
}
h3 {
	/* 调整小标题的字号 */
	font-size: 40px;
}
* {
    /* 禁用浏览器选词 */
    -webkit-touch-callout:none;
    -webkit-user-select:none;/*webkit浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
} 